---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About" description="I am a junior web developer currently studying front-end development.">
  <section class="py-4 text-gray-900 dark:text-gray-50">
    <div class="leading-loose mb-4">
      <h2 class="text-2xl lg:text-3xl font-bold mb-3">About me</h2>
      <p class="mb-3">
        I am a junior web developer currently studying front-end development at <a class="font-bold" href="https://brainster.co/">Brainster</a>.
      </p>
      <p class="mb-3">I enjoy exploring and learning bleeding-edge technologies — I make sure to bleed responsibly — by building beautiful and easy-to-use interfaces that help people solve everyday problems.</p>
      <p>Although I am primarly focused on front-end development, I do not like being boxed in and try to expand my knowledge to back-end tools (Node.js, Next.js) as well. The primary reason for my interest in back-end technologies is to be able to build full-stack applications. But also because the gap between front-end and back-end development is shrinking.</p>
    </div>

    <div>
      <h2 class="text-2xl lg:text-3xl font-bold mb-3">Links</h2>
      <ul class="list-disc pl-6 grid gap-cols-1 gap-2">
        <li><a href="https://github.com/andrijantasevski">GitHub</a></li>
        <li>
          <a href="https://www.linkedin.com/in/andrijan-tasevski-502903225/">LinkedIn</a>
        </li>
        <li>
          <a href="https://twitter.com/_andrijan">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/andrijantasevski/">Instagram</a>
        </li>
      </ul>
    </div>
  </section>
</Layout>
