---
---

<footer class="pt-4 pb-6 text-gray-500 dark:text-gray-400 mt-auto">
    <div class="w-11/12 lg:w-7/12 2xl:w-5/12 mx-auto">
        <hr class="w-full mb-6 border-gray-300 dark:border-gray-700" />

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <div class="flex flex-col gap-2">
                <p>
                    <a
                        class="hover:text-gray-600 dark:hover:text-gray-500 transition-all"
                        href="/">Home</a
                    >
                </p>

                <p>
                    <a
                        class="hover:text-gray-600 dark:hover:text-gray-500 transition-all"
                        href="/about">About</a
                    >
                </p>
            </div>

            <div class="flex flex-col gap-2">
                <p>
                    <a
                        class="hover:text-gray-600 dark:hover:text-gray-500 transition-all"
                        href="/projects">Projects</a
                    >
                </p>

                <p>
                    <a
                        class="hover:text-gray-600 dark:hover:text-gray-500 transition-all"
                        href="/snippets">Snippets</a
                    >
                </p>

                <p>
                    <a
                        class="hover:text-gray-600 dark:hover:text-gray-500 transition-all"
                        href="/blog">Blog</a
                    >
                </p>
            </div>

            <div class="flex flex-col gap-2">
                <p>
                    <a
                        class="hover:text-gray-600 dark:hover:text-gray-500 transition-all"
                        href="https://github.com/andrijantasevski">GitHub</a
                    >
                </p>

                <p>
                    <a
                        class="hover:text-gray-600 dark:hover:text-gray-500 transition-all"
                        href="https://www.linkedin.com/in/andrijan-tasevski-502903225/"
                        >LinkedIn</a
                    >
                </p>

                <p>
                    <a
                        class="hover:text-gray-600 dark:hover:text-gray-500 transition-all"
                        href="https://twitter.com/_andrijan">Twitter</a
                    >
                </p>
            </div>
        </div>
    </div>
</footer>
