---
---

<section class="pt-8 pb-4 text-gray-900 dark:text-gray-50">
    <div
        class="w-11/12 lg:w-7/12 2xl:w-5/12 mx-auto lg:flex items-center gap-14"
    >
        <div class="mb-4 order-1">
            <img
                class="w-40 lg:w-80 xl:w-72"
                src="/photos/portrait-andrijan.png"
                alt="Portrait Andrijan"
            />
        </div>

        <div>
            <h1 class="text-3xl lg:text-4xl font-bold">Andrijan Tasevski</h1>
            <p class="text-lg">Web developer</p>
            <hr class="w-24 my-3 border-gray-300 dark:border-gray-700" />
            <p>
                I like making beautiful and easy-to-use user interfaces that
                help people solve everyday problems by using bleeding edge
                technologies.
            </p>
        </div>
    </div>
</section>
