---
import ProjectSingle from "./ProjectSingle.astro";
---

<section class="py-4 text-gray-900 dark:text-gray-50">
  <div class="w-11/12 lg:w-7/12 2xl:w-5/12 mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl lg:text-3xl font-bold">Projects</h2>

      <a
        href="/"
        class="bg-gray-200 dark:bg-gray-800 py-1 px-3 rounded-md transition-all border-2 hover:border-gray-400 dark:border-gray-900 dark:hover:border-gray-700"
        >All projects</a
      >
    </div>

    <div class="grid grid-cols-1 gap-6">
      <ProjectSingle
        projectTitle="ELI Centar"
        technologiesUsed="Astro 路 Tailwind 路 Contentful"
        projectDescription="A static website built for a language school"
        projectLink="/"
        projectGitHub="/"
        projectImage="/photos/elicentar-image.png"
      />
      <ProjectSingle
        projectTitle="Vreeeme"
        technologiesUsed="Next.js 路 Tailwind 路 React"
        projectDescription="A weather app built with Next.js"
        projectLink="https://vreeeme.vercel.app/"
        projectGitHub="https://github.com/andrijantasevski/vreme"
        projectImage="/photos/vreeeme.png"
      />
    </div>
  </div>
</section>
