---
import ProjectSingle from "../../components/ProjectSingle.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Projects" description="All the projects I have built by using bleeding edge technologies.">
  <section class="py-4 text-gray-900 dark:text-gray-50">
    <div class="mb-6">
      <h2 class="text-2xl lg:text-3xl font-bold mb-3">Projects</h2>
      <p>All the projects I have built by using bleeding edge technologies.</p>
    </div>

    <div class="grid grid-cols-1 gap-6">
      {projects.map((project) => <ProjectSingle project={project} />)}
    </div>
  </section>
</Layout>
