---
import "../styles/base.css";
import Fonts from "../components/Fonts.astro";
import Favicon from "../components/Favicon.astro";
import Scripts from "../components/Scripts.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SEO } from "astro-seo";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Andrijan Tasevski" />
    <Fonts />
    <SEO
      title={title}
      description={description}
      twitter={{ creator: "@_andrijan" }}
    />
    <title>{title}</title>
    <Scripts />
    <Favicon />
  </head>
  <body
    class="dark:bg-gray-900 min-h-screen flex flex-col max-w-2xl mx-auto w-11/12"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <style is:global>
      @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 300 900;
        font-display: swap;
        src: url("/fonts/inter-variable.woff2")
          format("woff2-variations");
      }

      html {
        font-family: "Inter", sans-serif;
      }

      body::-webkit-scrollbar {
        @apply w-2;
      }

      body::-webkit-scrollbar-thumb {
        @apply rounded-lg bg-gray-300 dark:bg-gray-700;
      }

      body {
        scrollbar-color: #d1d5db transparent;
      }
    </style>
  </body>
</html>
